body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

#section1,
#half_width {
    display: flex;
}

.half_width {
    width: 50%;
    padding-left: 2%;
}

.half_width img {
    width: 100%;
    padding-top: 100px;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font: 700;
    border-radius: 5px;
}

.link_button:hover {
    transform: translateY(-7%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .7);
}

#section1 {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

#half_width {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.dev {
    display: flex;
}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 80%;
}

.stack1 {
    width: 40%;
    margin: 5%;
    box-shadow: 0 0 40px rgba(0, 0, 0, .7);
    padding: 20px;
}

.stack1 h2 {
    font-size: 40px;
}

.stack1 h3 {
    color: orange;
}